* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --background-color: #F5F4F0;
    --border-color: #D9D9D9;
    --text-color-primary: #1B1B1B;
    --text-color-secondary: #333333;
    --text-color-tertiary: #696969;
    --text-color-headline: #E1624F;
    --blue-accent-color: #0C51A7;
    --orange-accent-color: #E95E10;
    --pink-accent-color: #E5245E;
    --purple-accent-color: #591B98;

    --font-family: "Open Sans", serif;
    --text-xl: bold 36px var(--font-family);
    --text-lg: bold 32px var(--font-family);
    --text-md: bold 28px var(--font-family);
    --text: 16px var(--font-family);
}

.blue-accent{
    color: var(--blue-accent-color);
}

.orange-accent{
    color: var(--orange-accent-color);
}

.pink-accent{
    color: var(--pink-accent-color);
}

.purple-accent{
    color: var(--purple-accent-color);
}

body{
    background-color: var(--background-color);
    font: var(--text);
    color: var(--text-color-secondary);
    padding: 88px 80px 0;
    margin-inline: auto;
    max-width: 1280px;
}
h1{
    font: var(--text-xl);
    color: var(--text-color-primary);
}

h2{
    font: var(--text-lg);
    color: var(--text-color-primary);
}

h3{
    font: var(--text-md);
    color: var(--text-color-primary);
}
